{:deps {org.clojure/clojure {:mvn/version "1.12.3"}

        poly/web-app {:local/root "../../bases/web-app"}

        poly/replicant-main {:local/root "../../components/replicant-main"}
        poly/jetty-main {:local/root "../../components/jetty-main"}
        poly/cljpy-main {:local/root "../../components/cljpy-main"}

        poly/kraken-ui {:local/root "../../components/kraken-ui"}
        poly/login {:local/root "../../components/login"}
        poly/language-learn {:local/root "../../components/language-learn"}
        poly/read-file-mcp {:local/root "../../components/read-file-mcp"}
        poly/agent-tools {:local/root "../../components/agent-tools"}
        poly/agent {:local/root "../../components/agent"}
        poly/agent-tui-cljpy {:local/root "../../components/agent-tui-cljpy"}
        poly/agent-eval {:local/root "../../components/agent-eval"}
        poly/baml-client {:local/root "../../components/baml-client"}
        poly/replicant-component {:local/root "../../components/replicant-component"}
        poly/xiangqi {:local/root "../../components/xiangqi"}
        poly/playground-drawflow {:local/root "../../components/playground-drawflow"}
        poly/playground-odoyle-rules {:local/root "../../components/playground-odoyle-rules"}
        }

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :uberjar {:main com.zihao.web-app.api}}}
