{:paths ["src" "resources"]
 :deps {schneiderlin/cljc-fsrs {:git/url "https://github.com/schneiderlin/cljc-fsrs.git"
                                :git/sha "eeef3520df664e51c3d0ba2031ec2ba071635442"}
        datalevin/datalevin {:mvn/version "0.9.22"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
