{:paths ["src" "resources"]
 :deps {com.pitch/uix.core {:mvn/version "1.4.8"}
        com.pitch/uix.dom {:mvn/version "1.4.8"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
