{:deps {:aliases [:dev]}

 #_#_:dev-http {8000 {:roots ["bases/web-app/resources/public"
                          "components/scene/resources/public"
                          "classpath:public"]
                  :proxy-url "http://localhost:3000"}}

 :js-options {:js-package-dirs ["node_modules" "."]}

 :builds
 {:web-app
  {:target :browser
   :modules {:main {:init-fn com.zihao.web-app.main/main}}
   :output-dir "bases/web-app/resources/public/js"
   :dev {:output-dir "bases/web-app/resources/public/js"}}
  
  :progressive-enhancement
  {:target :browser
   :modules {:progressive-enhancement {:init-fn com.zihao.web-app.progressive-enhancement/main}}
   :output-dir "bases/web-app/resources/public/js"
   :dev {:output-dir "bases/web-app/resources/public/js"}}
  
  :portfolio
  {:target :browser
   :modules {:main {:init-fn com.zihao.scene.scenes/main}}
   :dev {:output-dir "components/scene/resources/public/portfolio-js"}}}}
