{:paths ["src" "resources"]
 :deps {datalevin/datalevin {:mvn/version "0.9.22"
                             :exclusions [com.widdindustries/time-literals]}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
