{:paths ["src" "resources"]
 :deps {ring/ring {:mvn/version "1.15.3"}
        ring/ring-json {:mvn/version "0.5.1"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        metosin/reitit {:mvn/version "0.7.0"}
        metosin/reitit-ring {:mvn/version "0.7.2"}
        metosin/muuntaja {:mvn/version "0.6.11"}
        buddy/buddy-hashers {:mvn/version "2.0.167"}
        com.brunobonacci/mulog {:mvn/version "0.10.0"} 
        cheshire/cheshire {:mvn/version "5.13.0"}
        integrant/integrant {:mvn/version "1.0.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
