{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {com.zihao.replicant-main.interface {make-interpolate                {:arities {:varargs {:args      [{:op   :rest,
                                                                                                                                              :spec :any}],
                                                                                                                                 :ret       :any,
                                                                                                                                 :min-arity 0}}},
                                                                            is-digit?                       {:arities {1 {:args [:any],
                                                                                                                          :ret  :boolean}}},
                                                                            gather-form-data                {:arities {1 {:args [:any],
                                                                                                                          :ret  {:op :keys}}}},
                                                                            make-ws-handler-with-extensions {:arities {:varargs {:args      [{:op   :rest,
                                                                                                                                              :spec :any}],
                                                                                                                                 :ret       :any,
                                                                                                                                 :min-arity 0}}},
                                                                            gen-uuid                        {:arities {0 {:args [],
                                                                                                                          :ret  :string}}},
                                                                            get-result                      {:arities {2 {:args [{:op :keys}
                                                                                                                                 {:op :keys}],
                                                                                                                          :ret  :any}}},
                                                                            interpolate                     {:arities {2 {:args [:any :any],
                                                                                                                          :ret  :any}}},
                                                                            make-execute-f                  {:arities {:varargs {:args      [{:op   :rest,
                                                                                                                                              :spec :any}],
                                                                                                                                 :ret       :any,
                                                                                                                                 :min-arity 0}}},
                                                                            parse-int                       {:arities {1 {:args [:string],
                                                                                                                          :ret  :int}}}}}}}}
