{:paths ["src" "resources"]
 :deps {babashka/process {:mvn/version "0.6.23"}
        com.taoensso/telemere {:mvn/version "1.1.0"}
        bhauman/clojure-mcp-light {:git/url "https://github.com/schneiderlin/clojure-mcp-light"
                                   :git/sha "ed10220030df957ec43b02df01b9baba6b586364"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}

