{:paths ["src" "resources"]
 :deps {no.cjohansen/powerpack {:mvn/version "2025.10.22"
                                :exclusions [java-time-literals/java-time-literals]}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
