{:paths ["src" "resources"]
 :deps {com.github.clojure-lsp/jsonrpc4clj {:mvn/version "1.0.2"}
        com.taoensso/telemere {:mvn/version "1.1.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
