{:paths ["src" "resources"]
 :deps {com.github.clojure-lsp/jsonrpc4clj {:mvn/version "1.0.2"}
        com.brunobonacci/mulog {:mvn/version "0.10.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
